<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    * {
      font-family: "Inter", sans-serif;
    }
  </style>
  <body style="display: flex">
    <div class="width-100 p-2 mx-auto my-10 flex flex-col">
      <h1 class="text-3xl">User List</h1>
      <table class="border p-2 my-10">
        <tr>
          <th class="p-2 border">Username</th>
          <th class="p-2 border">Email</th>
        </tr>
        <% users.forEach((user)=>{ %>
        <tr>
          <td class="p-2 border"><%= user.username %></td>
          <td class="p-2 border"><%= user.email %></td>
        </tr>
        <%})%>
      </table>
    </div>
    <div class="form mx-auto my-10 flex items-center">
      <form action="/users" method="post">
        <label for="username" class="px-10">Username</label>
        <input type="text" name="username" class="border" id="username" />
        <br />
        <br />
        <label for="email" class="px-10">Email : </label>
        <input type="text" name="email" id="email" class="border" />
        <br />
        <br />
        <button type="submit" class="bg-black text-white p-2 mx-10 rounded">
          Add User
        </button>
      </form>
    </div>
    <br />
    <br />
  </body>
</html>
